name: Build and Upload Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Run a build (example: compile a project)
      - name: Build project
        run: |
          mkdir output
          echo "Hello World build artifact" > output/hello.txt

      # Step 3: Upload artifact
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello-artifact
          path: output/























# name: go hello

# run-name: pipeline run by @${{ github.actor }}
# on: workflow_dispatch




# jobs:
#   build-and-test:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - name: Set up JDK 11
#         uses: gradle/actions/setup-gradle@v3
#       - name: Build with Gradle
#         run: ./gradlew build
#       - uses: gradle/gradle-build-action@v3
#         with:
#           arguments: build
#       - uses: gradle/gradle-build-action@v3
#         with:
#           arguments: test
#       - name: Upload Artifact
#         uses: actions/upload-artifact@v4        
#         with:
#           name: archive.zip
#           path: build/libs


# env:
#   PIPE: cicd
# # job level
# jobs:
#   build:
#     env:
#       STAGE: dev
#     runs-on: ubuntu-latest
# # step level
#     steps:
#       - name: create item with token
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         run: |
#           echo "Using token ${{ secrets.GITHUB_TOKEN }}"
#           echo "create item in $PIPE stage $STAGE by @${{ github.actor }}"
#           echo $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
#           echo "The runner's operating system is $RUNNER_OS."



# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v3
#     - name: setup Go version
#       uses: actions/setup-go@v2
#       with:
#         go-version: '1.14.0'
#     - run: go run helloworld.go