name: go hello

run-name: pipeline run by @${github.actor}
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup Go version
      uses: actions/setup-go@v2
      with:
        go-version: '1.14.0'
    - run: go run helloworld.go