name: go hello

run-name: pipeline run by @${{ github.actor }}
on: workflow_dispatch




jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
            java-version: '11'
            distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: test
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: archive.zip
          path: build/libs


# env:
#   PIPE: cicd
# # job level
# jobs:
#   build:
#     env:
#       STAGE: dev
#     runs-on: ubuntu-latest
# # step level
#     steps:
#       - name: create item with token
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         run: |
#           echo "Using token ${{ secrets.GITHUB_TOKEN }}"
#           echo "create item in $PIPE stage $STAGE by @${{ github.actor }}"
#           echo $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
#           echo "The runner's operating system is $RUNNER_OS."



# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v3
#     - name: setup Go version
#       uses: actions/setup-go@v2
#       with:
#         go-version: '1.14.0'
#     - run: go run helloworld.go